/* CSS */

.header-class {
  display: grid;
  height: 130px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.logo-container {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  display: grid;
}
.logo-container img {
    align-self: center;
    justify-self: center;
}

.nav-links-container {
  grid-column: 2/5;
  justify-self: center;
  align-self: center;
}
